
button,
.button {
	margin-bottom: 0 !important;
	margin-right: .5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
}